#timer-container{
    display: flex;
    flex-direction: column;
    border: solid 3px white;
    margin: 0 auto 15px auto;
    width: 200px;
}

#timer-label {
    font-size: 1.5rem;
}

#time-left {
    font-size: 2rem;
}